In [1]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

In [3]:
df = pd.read_excel('isis_major_code_list.xlsx', 'Major Codes')

majors_only = df.copy()[['Diploma Title']]

majors_only = majors_only.dropna().reset_index(drop=True)

majors_only

                                         Diploma Title
0            Black Diaspora & African American Studies
1                  Applied Science (Applied Mechanics)
2                                       Bioengineering
3                   Engineering (Chemical Engineering)
4                    Engineering (Engineering Science)
..                                                 ...
734  Art, Theory, and Criticism with a Specializati...
735  Art, Theory, and Criticism with a Specializati...
736  Art, Theory, and Criticism with a Specializati...
737                                    Women's Studies
738                                    Women's Studies

[739 rows x 1 columns]

In [47]:
df[['Department', 'Diploma Title']].drop_duplicates().dropna()

    Department                                      Diploma Title
0          AAS          Black Diaspora & African American Studies
13        AMES                Applied Science (Applied Mechanics)
17        AMES                                     Bioengineering
18        AMES                 Engineering (Chemical Engineering)
19        AMES                  Engineering (Engineering Science)
..         ...                                                ...
948        VIS  Art, Theory, and Criticism with a Concentratio...
949        VIS  Art, Theory, and Criticism with a Specializati...
950        VIS  Art, Theory, and Criticism with a Specializati...
951        VIS  Art, Theory, and Criticism with a Specializati...
952       WOMN                                    Women's Studies

[547 rows x 2 columns]

## Marshall

In [4]:
marshall_url = 'https://marshall.ucsd.edu/academics/general-education-requirements.html'
res = requests.get(marshall_url)
soup = BeautifulSoup(res.text)

In [6]:
doc = soup.find_all('li', attrs={"class":"dropdown open"})[3]
doc = [doc_class.text for doc_class in doc.find_all('li') if 'DOC ' and ':' in doc_class.text]
doc

['DOC 1: Diversity', 'DOC 2: Justice', 'DOC 3: Imagination']

In [48]:
content = soup.find('div', attrs = {'class':'drawer dark-theme'})
marsh_classes = content.find_all('ul', attrs = {'class':'list-group'})
marsh_classes

[<ul class="list-group">
 <li class="list-group-item">ANTH 2</li>
 <li class="list-group-item">COGS 17</li>
 <li class="list-group-item">BILD 1, 2, 3, 7, 10, 12, 18, 20, 22, 26, 28, 30, 32, 36, 38, 42, 46, 61</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">CHEM 4, 6A, 6B, 6C, 6AH, 6BH, 6CH, 11, 12, 13</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">PHYS 1A &amp; 1AL, 1B &amp; 1BL, 1C &amp; 1CL, 2A, 2B, 2C, 4A, 4B, 4C, 5, 7, 8, 9, 10, 11, 12, 13</li>
 <li class="list-group-item">SIO 1, 10, 12, 15, 16, 20, 30, 35, 40, 45, 50</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">Biology (BIEB) 100</li>
 <li class="list-group-item">MATH 3C</li>
 <li class="list-group-item">MATH 4C</li>
 <li class="list-group-item">MATH 10A, 10B, or 10C</li>
 <li class="list-group-item">MATH 11</li>
 <li class="list-group-item">MATH 20A, 20B, or 20C</li>
 <li class="list-group-item">MATH 180A or 181A</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">Cognitive Science (COGS) 14A</li>
 <li class="list-group-item">Human Developmental Sciences (HDS) 60</li>
 <li class="list-group-item">Political Science (POLI) 30</li>
 <li class="list-group-item">Psychology (PSYC) 60</li>
 <li class="list-group-item">Sociology (SOCI) 60</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">BILD 62</li>
 <li class="list-group-item">COGS 18</li>
 <li class="list-group-item">CSE 6R, 8A or 11</li>
 <li class="list-group-item">CSS 1</li>
 <li class="list-group-item">Linguistics (LIGN) 17</li>
 <li class="list-group-item">MAE 5, 9 or 10</li>
 <li class="list-group-item">Philosophy (PHIL) 10 or 12</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">African American Studies (AAS) 10, 11, 14, 15</li>
 <li class="list-group-item">Ethnic Studies (ETHN) 1, 2, 3 or 20</li>
 <li class="list-group-item">History (HILD) 7A, 7B, 7C, 10, 11, 12 or 14</li>
 <li class="list-group-item">Latin American Studies (LATI) 10, 50</li>
 <li class="list-group-item">Literatures in English (LTEN) 27, 28 or 29</li>
 <li class="list-group-item">Literatures in Cultural Studies (LTCS) 50, 52</li>
 <li class="list-group-item">Study of Religion (RELI) 2</li>
 <li class="list-group-item">Global South Studies (GSS) 20, 21, 22, 23, 24, 25, 26 or 27 (formerly Third World Studies [TWS])</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">Music (MUS) 4 - 19, 20, *80</li>
 <li class="list-group-item">Theatre/General (TDGE) 1, 5, 10-12</li>
 <li class="list-group-item">Theatre/History (TDHT) 21, 22, 23</li>
 <li class="list-group-item">Visual Arts (VIS) 1-3, 20-22 or 84</li>
 </ul>]

In [138]:
# one from each nat science
marsh_bio = marsh_classes[0]
marsh_bio = [bio_class.text for bio_class in marsh_bio.find_all('li')]

marsh_chem = marsh_classes[1]
marsh_chem = [chem_class.text for chem_class in marsh_chem.find_all('li')]

marsh_phys = marsh_classes[2]
marsh_phys = [phys_class.text for phys_class in marsh_phys.find_all('li')]

# options a, b, c
marsh_math = marsh_classes[3]
marsh_math = [math_class.text for math_class in marsh_math.find_all('li')]

marsh_stats = marsh_classes[4]
marsh_stats = [stat_class.text for stat_class in marsh_stats.find_all('li')]

marsh_log = marsh_classes[5]
marsh_log = [log_class.text for log_class in marsh_log.find_all('li')]

# 2
marsh_hum = marsh_classes[6]
marsh_hum = [hum_class.text for hum_class in marsh_hum.find_all('li')]

# 1
marsh_art = marsh_classes[7]
marsh_art = [art_class.text for art_class in marsh_art.find_all('li')]

In [218]:
marshall_ges = [marsh_bio, marsh_chem, marsh_phys, 
               marsh_math, marsh_stats, marsh_log,
               marsh_hum,
               marsh_art]

In [220]:
clean_marshall_ges = []

for req in marshall_ges:
    
    these = []
    
    for option in range(len(req)):
        
        if len(req[option].split(',')) > 1:
            
            #print('long ' + req[option])
            
            course_code = req[option].split(',')[0].split()[0]
            listed = ([req[option].split(',')[0]] + 
                      [(course_code + course_num.replace('or', '')) 
                       for course_num in req[option].replace('or', ',or').split(',')[1:]]
                     )
            
            these += listed
            
            #print('these : ' + str(these))
            
        elif len(req[option].split('or')) > 1:
            
            #print('or ' + req[option])
            
            course_code = req[option].split('or')[0].split()[0]
            listed = [req[option].split('or')[0], course_code + req[option].split('or')[1]]
            these += listed
            
        else:
            #print(req[option])
            these.append(req[option])
            
#     print('\t')
#     print('these : ' + str(these))
    clean_marshall_ges.append(these)
            
clean_marshall_ges

[['ANTH 2',
  'COGS 17',
  'BILD 1',
  'BILD 2',
  'BILD 3',
  'BILD 7',
  'BILD 10',
  'BILD 12',
  'BILD 18',
  'BILD 20',
  'BILD 22',
  'BILD 26',
  'BILD 28',
  'BILD 30',
  'BILD 32',
  'BILD 36',
  'BILD 38',
  'BILD 42',
  'BILD 46',
  'BILD 61'],
 ['CHEM 4',
  'CHEM 6A',
  'CHEM 6B',
  'CHEM 6C',
  'CHEM 6AH',
  'CHEM 6BH',
  'CHEM 6CH',
  'CHEM 11',
  'CHEM 12',
  'CHEM 13'],
 ['PHYS 1A & 1AL',
  'PHYS 1B & 1BL',
  'PHYS 1C & 1CL',
  'PHYS 2A',
  'PHYS 2B',
  'PHYS 2C',
  'PHYS 4A',
  'PHYS 4B',
  'PHYS 4C',
  'PHYS 5',
  'PHYS 7',
  'PHYS 8',
  'PHYS 9',
  'PHYS 10',
  'PHYS 11',
  'PHYS 12',
  'PHYS 13',
  'SIO 1',
  'SIO 10',
  'SIO 12',
  'SIO 15',
  'SIO 16',
  'SIO 20',
  'SIO 30',
  'SIO 35',
  'SIO 40',
  'SIO 45',
  'SIO 50'],
 ['Biology (BIEB) 100',
  'MATH 3C',
  'MATH 4C',
  'MATH 10A',
  'MATH 10B',
  'MATH ',
  'MATH 10C',
  'MATH 11',
  'MATH 20A',
  'MATH 20B',
  'MATH ',
  'MATH 20C',
  'MATH 180A ',
  'MATH 181A'],
 ['Cognitive Science (COGS) 14A',
  'Human Developmental Sciences (HDS) 60',
  'Political Science (POLI) 30',
  'Psychology (PSYC) 60',
  'Sociology (SOCI) 60'],
 ['BILD 62',
  'COGS 18',
  'CSE 6R',
  'CSE 8A ',
  'CSE 11',
  'CSS 1',
  'Linguistics (LIGN) 17',
  'MAE 5',
  'MAE 9 ',
  'MAE 10',
  'Philosophy (PHIL) 10 ',
  'Philosophy 12'],
 ['African American Studies (AAS) 10',
  'African 11',
  'African 14',
  'African 15',
  'Ethnic Studies (ETHN) 1',
  'Ethnic 2',
  'Ethnic 3 ',
  'Ethnic 20',
  'History (HILD) 7A',
  'Historyy (HILD) 7A',
  'History 7B',
  'History 7C',
  'History 10',
  'History 11',
  'History 12 ',
  'History 14',
  'Latin American Studies (LATI) 10',
  'Latin 50',
  'Literatures in English (LTEN) 27',
  'Literatures 28 ',
  'Literatures 29',
  'Literatures in Cultural Studies (LTCS) 50',
  'Literatures 52',
  'Study of Religion (RELI) 2',
  'Global South Studies (GSS) 20',
  'Global 21',
  'Global 22',
  'Global 23',
  'Global 24',
  'Global 25',
  'Global 26 ',
  'Global 27 (f',
  'Globalmerly Third W',
  'Globalld Studies [TWS])'],
 ['Music (MUS) 4 - 19',
  'Music 20',
  'Music *80',
  'Theatre/General (TDGE) 1',
  'Theatre/General 5',
  'Theatre/General 10-12',
  'Theatre/History (TDHT) 21',
  'Theatre/Historyy (TDHT) 21',
  'Theatre/History 22',
  'Theatre/History 23',
  'Visual Arts (VIS) 1-3',
  'Visual 20-22 ',
  'Visual 84']]

In [227]:
subdivs = content.find_all('h3', attrs={'class':'panel-title'})
#doc_un = subdivs[0]
docless = [sub.text for sub in subdivs][3:]
marshall_docless_ges = dict(zip(docless, clean_marshall_ges))
marshall_docless_ges

{'Biology': ['ANTH 2',
  'COGS 17',
  'BILD 1',
  'BILD 2',
  'BILD 3',
  'BILD 7',
  'BILD 10',
  'BILD 12',
  'BILD 18',
  'BILD 20',
  'BILD 22',
  'BILD 26',
  'BILD 28',
  'BILD 30',
  'BILD 32',
  'BILD 36',
  'BILD 38',
  'BILD 42',
  'BILD 46',
  'BILD 61'],
 'Chemistry': ['CHEM 4',
  'CHEM 6A',
  'CHEM 6B',
  'CHEM 6C',
  'CHEM 6AH',
  'CHEM 6BH',
  'CHEM 6CH',
  'CHEM 11',
  'CHEM 12',
  'CHEM 13'],
 'Physics': ['PHYS 1A & 1AL',
  'PHYS 1B & 1BL',
  'PHYS 1C & 1CL',
  'PHYS 2A',
  'PHYS 2B',
  'PHYS 2C',
  'PHYS 4A',
  'PHYS 4B',
  'PHYS 4C',
  'PHYS 5',
  'PHYS 7',
  'PHYS 8',
  'PHYS 9',
  'PHYS 10',
  'PHYS 11',
  'PHYS 12',
  'PHYS 13',
  'SIO 1',
  'SIO 10',
  'SIO 12',
  'SIO 15',
  'SIO 16',
  'SIO 20',
  'SIO 30',
  'SIO 35',
  'SIO 40',
  'SIO 45',
  'SIO 50'],
 'Mathematics, Advanced Statistics': ['Biology (BIEB) 100',
  'MATH 3C',
  'MATH 4C',
  'MATH 10A',
  'MATH 10B',
  'MATH ',
  'MATH 10C',
  'MATH 11',
  'MATH 20A',
  'MATH 20B',
  'MATH ',
  'MATH 20C',
  'MATH 180A ',
  'MATH 181A'],
 'Introductory Statistics': ['Cognitive Science (COGS) 14A',
  'Human Developmental Sciences (HDS) 60',
  'Political Science (POLI) 30',
  'Psychology (PSYC) 60',
  'Sociology (SOCI) 60'],
 'Computer Programming & Logic': ['BILD 62',
  'COGS 18',
  'CSE 6R',
  'CSE 8A ',
  'CSE 11',
  'CSS 1',
  'Linguistics (LIGN) 17',
  'MAE 5',
  'MAE 9 ',
  'MAE 10',
  'Philosophy (PHIL) 10 ',
  'Philosophy 12'],
 'Humanities and Cultural Studies\xa0': ['African American Studies (AAS) 10',
  'African 11',
  'African 14',
  'African 15',
  'Ethnic Studies (ETHN) 1',
  'Ethnic 2',
  'Ethnic 3 ',
  'Ethnic 20',
  'History (HILD) 7A',
  'Historyy (HILD) 7A',
  'History 7B',
  'History 7C',
  'History 10',
  'History 11',
  'History 12 ',
  'History 14',
  'Latin American Studies (LATI) 10',
  'Latin 50',
  'Literatures in English (LTEN) 27',
  'Literatures 28 ',
  'Literatures 29',
  'Literatures in Cultural Studies (LTCS) 50',
  'Literatures 52',
  'Study of Religion (RELI) 2',
  'Global South Studies (GSS) 20',
  'Global 21',
  'Global 22',
  'Global 23',
  'Global 24',
  'Global 25',
  'Global 26 ',
  'Global 27 (f',
  'Globalmerly Third W',
  'Globalld Studies [TWS])'],
 'Fine Arts': ['Music (MUS) 4 - 19',
  'Music 20',
  'Music *80',
  'Theatre/General (TDGE) 1',
  'Theatre/General 5',
  'Theatre/General 10-12',
  'Theatre/History (TDHT) 21',
  'Theatre/Historyy (TDHT) 21',
  'Theatre/History 22',
  'Theatre/History 23',
  'Visual Arts (VIS) 1-3',
  'Visual 20-22 ',
  'Visual 84']}

In [49]:
marsh_ge = [section.find('a').text for section in soup.find_all('h2') if section.find('a') and section.find('a').attrs == {'href': '#'}]
marsh_ge

['Dimensions of Culture (3 courses) ',
 'Natural Science (3 courses)',
 'Mathematics, Statistics and Logic (2 courses)',
 'Humanities and Cultural Studies (2 courses)',
 'Fine Arts (1 course)',
 'Disciplinary Breadth (4 courses)']

## Revelle

In [228]:
rev_url = 'https://revelle.ucsd.edu/academics/general-education/index.html'

In [27]:
# cogs major, has suggested plan
cogs_url = 'https://catalog.ucsd.edu/curric/COGS-ug.html'
# overlapping, marshall
marsh_overlap = 'https://marshall.ucsd.edu/academics/majors-and-minors/majors/ge-overlap-courses.html'