In [1]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

In [3]:
df = pd.read_excel('isis_major_code_list.xlsx', 'Major Codes')

majors_only = df.copy()[['Diploma Title']]

majors_only = majors_only.dropna().reset_index(drop=True)

majors_only

                                         Diploma Title
0            Black Diaspora & African American Studies
1                  Applied Science (Applied Mechanics)
2                                       Bioengineering
3                   Engineering (Chemical Engineering)
4                    Engineering (Engineering Science)
..                                                 ...
734  Art, Theory, and Criticism with a Specializati...
735  Art, Theory, and Criticism with a Specializati...
736  Art, Theory, and Criticism with a Specializati...
737                                    Women's Studies
738                                    Women's Studies

[739 rows x 1 columns]

In [47]:
df[['Department', 'Diploma Title']].drop_duplicates().dropna()

    Department                                      Diploma Title
0          AAS          Black Diaspora & African American Studies
13        AMES                Applied Science (Applied Mechanics)
17        AMES                                     Bioengineering
18        AMES                 Engineering (Chemical Engineering)
19        AMES                  Engineering (Engineering Science)
..         ...                                                ...
948        VIS  Art, Theory, and Criticism with a Concentratio...
949        VIS  Art, Theory, and Criticism with a Specializati...
950        VIS  Art, Theory, and Criticism with a Specializati...
951        VIS  Art, Theory, and Criticism with a Specializati...
952       WOMN                                    Women's Studies

[547 rows x 2 columns]

## Marshall

In [4]:
marshall_url = 'https://marshall.ucsd.edu/academics/general-education-requirements.html'
res = requests.get(marshall_url)
soup = BeautifulSoup(res.text)

In [6]:
doc = soup.find_all('li', attrs={"class":"dropdown open"})[3]
doc = [doc_class.text for doc_class in doc.find_all('li') if 'DOC ' and ':' in doc_class.text]
doc

['DOC 1: Diversity', 'DOC 2: Justice', 'DOC 3: Imagination']

In [20]:
content = soup.find('div', attrs = {'class':'drawer dark-theme'})
all_classes = content.find_all('ul', attrs = {'class':'list-group'})
all_classes

[<ul class="list-group">
 <li class="list-group-item">ANTH 2</li>
 <li class="list-group-item">COGS 17</li>
 <li class="list-group-item">BILD 1, 2, 3, 7, 10, 12, 18, 20, 22, 26, 28, 30, 32, 36, 38, 42, 46, 61</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">CHEM 4, 6A, 6B, 6C, 6AH, 6BH, 6CH, 11, 12, 13</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">PHYS 1A &amp; 1AL, 1B &amp; 1BL, 1C &amp; 1CL, 2A, 2B, 2C, 4A, 4B, 4C, 5, 7, 8, 9, 10, 11, 12, 13</li>
 <li class="list-group-item">SIO 1, 10, 12, 15, 16, 20, 30, 35, 40, 45, 50</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">Biology (BIEB) 100</li>
 <li class="list-group-item">MATH 3C</li>
 <li class="list-group-item">MATH 4C</li>
 <li class="list-group-item">MATH 10A, 10B, or 10C</li>
 <li class="list-group-item">MATH 11</li>
 <li class="list-group-item">MATH 20A, 20B, or 20C</li>
 <li class="list-group-item">MATH 180A or 181A</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">Cognitive Science (COGS) 14A</li>
 <li class="list-group-item">Human Developmental Sciences (HDS) 60</li>
 <li class="list-group-item">Political Science (POLI) 30</li>
 <li class="list-group-item">Psychology (PSYC) 60</li>
 <li class="list-group-item">Sociology (SOCI) 60</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">BILD 62</li>
 <li class="list-group-item">COGS 18</li>
 <li class="list-group-item">CSE 6R, 8A or 11</li>
 <li class="list-group-item">CSS 1</li>
 <li class="list-group-item">Linguistics (LIGN) 17</li>
 <li class="list-group-item">MAE 5, 9 or 10</li>
 <li class="list-group-item">Philosophy (PHIL) 10 or 12</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">African American Studies (AAS) 10, 11, 14, 15</li>
 <li class="list-group-item">Ethnic Studies (ETHN) 1, 2, 3 or 20</li>
 <li class="list-group-item">History (HILD) 7A, 7B, 7C, 10, 11, 12 or 14</li>
 <li class="list-group-item">Latin American Studies (LATI) 10, 50</li>
 <li class="list-group-item">Literatures in English (LTEN) 27, 28 or 29</li>
 <li class="list-group-item">Literatures in Cultural Studies (LTCS) 50, 52</li>
 <li class="list-group-item">Study of Religion (RELI) 2</li>
 <li class="list-group-item">Global South Studies (GSS) 20, 21, 22, 23, 24, 25, 26 or 27 (formerly Third World Studies [TWS])</li>
 </ul>,
 <ul class="list-group">
 <li class="list-group-item">Music (MUS) 4 - 19, 20, *80</li>
 <li class="list-group-item">Theatre/General (TDGE) 1, 5, 10-12</li>
 <li class="list-group-item">Theatre/History (TDHT) 21, 22, 23</li>
 <li class="list-group-item">Visual Arts (VIS) 1-3, 20-22 or 84</li>
 </ul>]

In [46]:
marsh_ge = [section.find('a').text for section in soup.find_all('h2') if section.find('a') and section.find('a').attrs == {'href': '#'}]
marsh_ge

['Dimensions of Culture (3 courses) ',
 'Natural Science (3 courses)',
 'Mathematics, Statistics and Logic (2 courses)',
 'Humanities and Cultural Studies (2 courses)',
 'Fine Arts (1 course)',
 'Disciplinary Breadth (4 courses)']

In [27]:
# cogs major, has suggested plan
cogs_url = 'https://catalog.ucsd.edu/curric/COGS-ug.html'
# overlapping, marshall
marsh_overlap = 'https://marshall.ucsd.edu/academics/majors-and-minors/majors/ge-overlap-courses.html'